
/* Your CSS Code here. */
.holder{
	display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows:repeat(2, 100px);
	width:200px;
  gap: 10px;
}

.item{
	background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}